#Directories

/[Ll]ibrary/

/[Tt]emp/

/[Oo]bj/

/[Bb]uild/

#Visual Studio files
.vs/

#Unity files
*.svd

*.userprefs

*.pidb

*.unityproj

*.booproj

*.csproj

*.sln
*.user

*.suo

*.tmp
.DS_Store
.DS_Store?
._
*
.Splotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.pidb.meta
